@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype"); }
@keyframes dieter-rams {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes comment {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes comment-reverse {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.sign-in-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.sub-container {
  width: 1140px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.sign-in {
  background-color: #fafafb;
  width: 305px;
  height: 430px;
  border-radius: 30px;
  padding: 40px; }
  .sign-in input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    resize: none; }

.logo-sign-in img {
  width: 130px;
  margin-bottom: 20px; }

.sign-in-input {
  margin-bottom: 20px; }

.sub-title {
  margin-bottom: 5px;
  color: #cecece;
  font-size: 15px; }

.button-regular {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #0037f5;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 30px;
  font-size: 15px; }

.another-sign-up-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px; }
  .another-sign-up-info .line {
    border-bottom: 1px solid #e2e2e2;
    width: 100%; }
  .another-sign-up-info .info {
    white-space: nowrap;
    font-size: 15px;
    color: #cecece;
    margin: 0px 20px; }

.another-sign-up {
  display: flex;
  justify-content: center; }
  .another-sign-up .another-logo-container {
    display: flex;
    justify-content: space-between;
    width: 230px; }
    .another-sign-up .another-logo-container .google-logo {
      width: 50px;
      height: 50px;
      background-color: #ededed;
      border-radius: 50%; }

* {
  margin: 0;
  padding: 0;
  list-style: 0;
  text-decoration: none;
  font-family: NotoSansCJKkr; }

.header {
  z-index: 9999;
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  color: #414046;
  font-size: 1.1rem;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s; }
  .header .header-container {
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .main-logo img {
    cursor: pointer;
    width: 120px;
    margin-top: 10px; }
  .header .category {
    display: flex; }
    .header .category div {
      cursor: pointer;
      margin-right: 2rem; }
      .header .category div:last-child {
        margin-right: 0px; }
      .header .category div a {
        color: #414046; }
  .header.is-sticky {
    height: 4rem;
    border-bottom: 1px solid #cecece;
    font-size: 1rem;
    background-color: white; }
    .header.is-sticky .category div {
      margin-right: 1rem; }
      .header.is-sticky .category div:last-child {
        margin-right: 0px; }
    .header.is-sticky .main-logo img {
      width: 90px; }

.for-height {
  height: 2000px; }

.main {
  height: 2000px;
  display: flex;
  justify-content: center; }

.word {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  font-size: 3rem;
  font-weight: bold;
  background-color: #eff1f4; }
  .word div {
    margin-left: -1px; }
  .word .word-container {
    position: relative;
    width: 1140px;
    display: flex;
    justify-content: space-between; }
    .word .word-container .dieter-rams-img img:first-child {
      position: absolute;
      top: -65px;
      right: 0px;
      height: 271px;
      opacity: 0;
      animation: dieter-rams 2s ease-in-out; }
    .word .word-container .dieter-rams-img img:nth-child(2) {
      position: absolute;
      top: -65px;
      right: 0px;
      height: 271px; }
    .word .word-container .dieter-rams-img .important {
      position: absolute;
      right: 156px;
      top: 13px;
      background-color: #000000;
      font-size: 1.4rem;
      color: white;
      display: flex;
      padding: 0.2rem 0.5rem;
      justify-content: center;
      animation: comment 2.7s ease-in; }
      .word .word-container .dieter-rams-img .important.reverse {
        top: 104px;
        right: 329px;
        background-color: #cecece;
        font-size: 1rem;
        animation: comment 3s ease-in; }

.wrapper {
  width: 1140px; }
  .wrapper .title {
    font-size: 1.1rem;
    color: #414046;
    font-weight: 500;
    margin-top: 1.5rem; }
  .wrapper .item {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .wrapper .item div {
      width: 33.33333%;
      background-color: #cecece; }

/*# sourceMappingURL=style.css.map */
