.sign-up-container {
  width: 370px;
  padding: 35px;
  border: 1px solid #ececf4;
  border-radius: 23px;
}

.sign-up-info {
  font-size: 27px;
  font-weight: bold;
}

.sign-up-sec-info {
  font-size: 15px;
  color: #cecece;
  margin-bottom: 5px;
}

.logo-sign-up {
  img {
    width: 110px;
    margin-bottom: 20px;
  }
}
