.card-title {
	border-bottom: 1px solid #454545 !important;

	.writer-container {
		.image-container {
			margin-right: 0.7rem;
			.user-image {
				width: 2.2rem;
				height: 2.2rem;
				background-color: #4d4d4d;
				border-radius: 0.4rem;
			}
		}

		.group {
			font-size: 0.9rem;
			margin-bottom: 0.2rem;
		}

		.writer {
			font-size: 0.7rem;
			font-weight: 400;
			color: #828386;
		}
	}

	.group-sign-in {
		background-color: #4b4b53;
		color: #ffffff;
		font-size: 0.9rem;
		border: 1px solid #545258 !important;
		letter-spacing: 0.03rem;
	}
}
