@import './font';
@import './palette';
@import './keyframe.scss';
@import './signUp.scss';
@import './signIn.scss';
@import './commonUse.scss';

* {
	margin: 0;
	padding: 0;
	list-style: 0;
	text-decoration: none;
	font-family: NotoSansCJKkr;
}

body {
	padding: 0;
}

input {
	width: 100%;
}

.header {
	z-index: 9999;
	position: sticky;
	top: 0;
	height: 6rem;
	display: flex;
	justify-content: center;
	color: $fontDefaultColor;
	font-size: 1.1rem;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;

	.header-container {
		width: 1140px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.main-logo {
		img {
			cursor: pointer;
			width: 120px;
			margin-top: 10px;
		}
	}

	.category {
		display: flex;

		div {
			cursor: pointer;
			margin-right: 2rem;
			&:last-child {
				margin-right: 0px;
			}

			a {
				color: #414046;
			}
		}
	}

	&.is-sticky {
		height: 4rem;
		border-bottom: 1px solid #cecece;
		font-size: 1rem;
		background-color: white;

		.category {
			div {
				margin-right: 1rem;
				&:last-child {
					margin-right: 0px;
				}
			}
		}

		.main-logo {
			img {
				width: 90px;
			}
		}
	}
}

.for-height {
	height: 2000px;
}

.main {
	height: 2000px;
	display: flex;
	justify-content: center;
}

.word {
	display: flex;
	justify-content: center;
	padding: 4rem 0;
	font-size: 3rem;
	font-weight: bold;
	background-color: #eff1f4;

	div {
		margin-left: -1px;
	}

	.word-container {
		position: relative;
		width: 1140px;
		display: flex;
		justify-content: space-between;

		.dieter-rams-img {
			img:first-child {
				position: absolute;
				top: -65px;
				right: 0px;
				height: 271px;
				opacity: 0;

				animation: dieter-rams 2s ease-in-out;
			}

			img:nth-child(2) {
				position: absolute;
				top: -65px;
				right: 0px;
				height: 271px;
			}

			.important {
				position: absolute;
				right: 156px;
				top: 13px;
				background-color: #000000;
				font-size: 1.4rem;
				color: white;
				display: flex;
				padding: 0.2rem 0.5rem;
				justify-content: center;

				animation: comment 2.7s ease-in;

				&.reverse {
					top: 104px;
					right: 329px;
					background-color: #cecece;
					font-size: 1rem;

					animation: comment 3s ease-in;
				}
			}
		}
	}
}

.wrapper {
	width: 1140px;

	.title {
		font-size: 1.1rem;
		color: $fontDefaultColor;
		font-weight: 500;
		margin-top: 1.5rem;
	}

	.item {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		div {
			width: 33.33333%;
			background-color: #cecece;
		}
	}
}
